In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [4]:
df = pd.read_csv("../ACC.csv")
df.head(10)

,date,Symbol,Series,Prev Close,open,high,low,Last Price,close,Average Price,volume,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,
0,11-Aug-21,ACC,EQ,2296.95,2297.00,2327.95,2248.55,2276.90,2276.05,2270.55,401413,9.114294e+08,26273,164669,41.02,
1,10-Aug-21,ACC,EQ,2312.60,2324.00,2330.00,2266.95,2296.00,2296.95,2301.73,321608,7.402535e+08,19833,83463,25.95,
2,09-Aug-21,ACC,EQ,2341.35,2348.00,2366.55,2304.00,2322.30,2312.60,2331.85,449768,1.048791e+09,21109,192059,42.7,
3,06-Aug-21,ACC,EQ,2392.20,2382.10,2398.80,2335.40,2344.00,2341.35,2362.48,516746,1.220801e+09,26616,216620,41.92,
4,05-Aug-21,ACC,EQ,2398.60,2400.05,2413.70,2375.20,2390.00,2392.20,2394.73,399193,9.559612e+08,18749,95827,24.01,
5,04-Aug-21,ACC,EQ,2433.10,2433.00,2454.95,2393.00,2398.00,2398.60,2418.66,380386,9.200227e+08,21605,113591,29.86,
6,03-Aug-21,ACC,EQ,2424.00,2420.00,2440.80,2392.00,2429.55,2433.10,2417.52,538219,1.301156e+09,33638,247167,45.92,
7,02-Aug-21,ACC,EQ,2394.10,2395.00,2434.40,2381.20,2424.00,2424.00,2412.50,464987,1.121782e+09,28026,171593,36.9,
8,30-Jul-21,ACC,EQ,2364.00,2365.00,2415.00,2360.00,2395.50,2394.10,2390.86,465284,1.112427e+09,21995,165508,35.57,
9,29-Jul-21,ACC,EQ,2393.90,2400.00,2413.00,2349.80,2374.00,2364.00,2373.29,677603,1.608149e+09,32469,197624,29.17,

# Plotting Graph
we have successfully fetch the data with 15 columns . Let's plot a area graph where date is plotted on x-axis while close price is plotted on y-axis.

First let's remove date as the default index and change the format of date to date-month-year to do so you need to use pd.to_datetime() function and then format the string.

In [5]:
df = df.reset_index()
df['date'] = pd.to_datetime(df['date']).dt.strftime('%d-%b-%y')

#### create a subplot with variable name fig and it's axes as ax .
Plot index vs close price and then make the graph looks beautiful by adding labels and titles. To prevent messing up text on x-axis. you can use [::150] to select every 150th index from the list.

In [ ]:
fig, ax = plt.subplots(1, figsize=(18,8))
plt.fill_between(df.index,df['close'], color='green')
ax.set_ylabel('Closing Price')
ax.set_title('ACC')
ax.set_xticks(df.index[::300])
ax.set_xticklabels(df["date"][::300])
"graph plotted"