In [21]:
import fglib
import pandas as pd

In [22]:
df = pd.read_csv("acc.csv")
df

,date,Symbol,Series,Prev Close,open,high,low,Last Price,close,Average Price,volume,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,
0,11-Aug-21,ACC,EQ,2296.95,2297.00,2327.95,2248.55,2276.90,2276.05,2270.55,401413,9.114294e+08,26273,164669,41.02,
1,10-Aug-21,ACC,EQ,2312.60,2324.00,2330.00,2266.95,2296.00,2296.95,2301.73,321608,7.402535e+08,19833,83463,25.95,
2,09-Aug-21,ACC,EQ,2341.35,2348.00,2366.55,2304.00,2322.30,2312.60,2331.85,449768,1.048791e+09,21109,192059,42.7,
3,06-Aug-21,ACC,EQ,2392.20,2382.10,2398.80,2335.40,2344.00,2341.35,2362.48,516746,1.220801e+09,26616,216620,41.92,
4,05-Aug-21,ACC,EQ,2398.60,2400.05,2413.70,2375.20,2390.00,2392.20,2394.73,399193,9.559612e+08,18749,95827,24.01,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4626,07-Jan-03,ACC,EQ,157.05,158.55,158.55,152.35,154.20,153.85,154.61,1169466,1.808153e+08,-,458783,39.23,
4627,06-Jan-03,ACC,EQ,159.25,160.10,160.25,156.50,157.10,157.05,158.21,553635,8.759308e+07,-,227757,41.14,
4628,03-Jan-03,ACC,EQ,164.85,165.60,166.25,158.20,159.70,159.25,161.92,1121222,1.815532e+08,-,649216,57.9,
4629,02-Jan-03,ACC,EQ,164.35,164.10,166.25,163.05,164.75,164.85,164.75,621888,1.024541e+08,-,197826,31.81,
4630,01-Jan-03,ACC,EQ,165.10,166.00,167.00,164.00,164.30,164.35,164.71,252826,4.164389e+07,-,71069,28.11,

In [32]:
data = fglib.financialGraph.Data(df,graphtype="candle")
print(data.renko())

None